@import '../../../index';

medical-exam {
  display: flex;
  flex-direction: row;
  section {
    padding: 20px;
  }
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .left {
      display: flex;
      flex-direction: column;
      .job {
        font-size: 18px;
        text-transform: capitalize;
      }
      .deadline {
        margin-top: 10px;
        border-top: 1px solid $primary-color;
        padding-top: 10px;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      font-weight: bolder;
      .lastname {
        text-transform: uppercase;
      }
      .age {
        font-weight: lighter;
      }
    }
  }
  .block {
    width: 46%;
    margin-bottom: 20px;
    align-items: flex-start;
    & > div {
      margin-bottom: 20px;
      width: 100%;
    }
  }
  .operations {
    display: flex;
    justify-content: space-between;
  }
  hr {
    margin: 20px 0;
    border: 1px solid rgba($primary-color, 0.5);
    width: 100%;
  }
  .widgets {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .widget {
    width: 174px;
    height: 317px;
    margin-top: 10px;
    .widget-header {
      padding-top: 120px;
      text-align: center;
      h5 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bolder;
        font-stretch: ultra-condensed;
        margin: 0;
      }
      p {
        font-size: 12px;
        margin: 0;
      }
    }
    .widget-content {
      display: flex;
      flex-direction: row;
      margin: 20px 0;
      & > * {
        display: inline-flex;
        flex-direction: column;
        width: 50%;
        text-align: center;
        font-size: 26px;
        font-weight: bolder;
        font-stretch: ultra-condensed;
        line-height: 20px;
        padding-bottom: 5px;
        &:before {
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
    .widget-footer {
      background-color: rgba(#CECECE, 0.5);
      border-radius: 5px;
      margin: 0 20px;
      padding: 5px 0;
      font-size: 26px;
      text-align: center;
    }
  }
  .weight {
    background: url('/assets/images/widget-poids@3x.png') no-repeat;
    background-size: 100%;
    .kg {
      border-right: 1px solid $primary-color;
      &:before {
        content: 'KG';
      }
    }
    .bmi {
      &:before {
        content: 'IMC';
      }
    }
  }
  .pressure {
    background: url('/assets/images/widget-tension@3x.png') no-repeat;
    background-size: 100%;
    .systole {
      border-right: 1px solid $primary-color;
      &:before {
        content: 'SYS';
      }
    }
    .diastole {
      &:before {
        content: 'DIA';
      }
    }
    .widget-footer {
      span {
        position: relative;
        &:after {
          content: 'BPM';
          font-size: 12px;
          position: absolute;
          bottom: 4px;
        }
      }
    }
  }
  .notes {
    p {
      margin-top: 0;
    }
    .datetime {
      font-style: italic;
      margin: 0;
    }
    textarea {
      width: 100%;
      min-height: 50px;
    }
    form {
      display: flex;
      flex-direction: column;
      button {
        align-self: flex-end;
        margin-top: 20px;
      }
    }
  }
}