@import '../../../index';

medical-exam {
  section {
    padding: 20px;
  }
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .name {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      font-weight: bolder;
      .lastname {
        text-transform: uppercase;
      }
    }
  }
  .block {
    margin-bottom: 20px;
    align-items: flex-start;
    & > div {
      margin-bottom: 20px;
    }
    button {
      align-self: center;
    }
  }
  .code {
    border: 2px solid $primary-color;
    border-radius: 5px;
    padding: 3px;
    height: 100%;
  }
}