@import '../../../index';

medical-exam {
  section {
    padding: 20px;
  }
  header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .name {
      display: flex;
      flex-direction: column;
      font-size: 24px;
      font-weight: bolder;
      .lastname {
        text-transform: uppercase;
      }
    }
  }
  .block {
    margin-bottom: 20px;
    align-items: flex-start;
    & > div {
      margin-bottom: 20px;
      width: 100%;
    }
    button {
      align-self: center;
    }
  }
  .code {
    border: 2px solid $primary-color;
    border-radius: 5px;
    padding: 3px;
    height: 100%;
  }
  hr {
    margin: 20px 0;
    border: 1px solid rgba($primary-color, 0.5);
    width: 100%;
  }
  .widgets {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .widget {
    width: 174px;
    height: 317px;
    .widget-header {
      padding-top: 120px;
      text-align: center;
      h5 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bolder;
        font-stretch: ultra-condensed;
        margin: 0;
      }
      p {
        font-size: 12px;
        margin: 0;
      }
    }
    .widget-content {
      display: flex;
      flex-direction: row;
      margin: 20px 0;
      & > * {
        display: inline-flex;
        flex-direction: column;
        width: 50%;
        text-align: center;
        font-size: 26px;
        font-weight: bolder;
        font-stretch: ultra-condensed;
        line-height: 20px;
        padding-bottom: 5px;
        &:before {
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
    .widget-footer {
      background-color: rgba(#CECECE, 0.5);
      border-radius: 5px;
      margin: 0 20px;
      padding: 5px 0;
      font-size: 26px;
      text-align: center;
    }
  }
  .weight {
    background: url('/assets/images/widget-poids@3x.png') no-repeat;
    background-size: 100%;
    .kg {
      border-right: 1px solid $primary-color;
      &:before {
        content: 'KG';
      }
    }
    .fat {
      &:before {
        content: '%';
      }
    }
  }
  .pressure {
    background: url('/assets/images/widget-tension@3x.png') no-repeat;
    background-size: 100%;
    .systole {
      border-right: 1px solid $primary-color;
      &:before {
        content: 'SYS';
      }
    }
    .diastole {
      &:before {
        content: 'DIA';
      }
    }
    .widget-footer {
      span {
        position: relative;
        &:after {
          content: 'BPM';
          font-size: 12px;
          position: absolute;
          bottom: 4px;
        }
      }
    }
  }
  .medical-form {
    .question {
      border: 1px solid $primary-color;
      padding: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      .answer {
        color: white;
        i {
          color: white;
        }
        background-color: #043c7c;
        border-radius: 5px;
        height: 0;
        opacity: 0;
        visibility: 0;
        transition: 
          height 0.5s ease,
          opacity 0.5s ease,
          visibility 0.5s ease,
          margin 0.5s ease,
          padding 0.5s ease;
      }
      &.expanded {
        .answer {
          opacity: 1;
          visibility: 1;
          height: auto;
          padding: 8px;
          margin-top: 10px;
        }
      }
      &.outcome2 {
        background-color: rgba(yellow, 0.5);
      }
      &.outcome3 {
        background-color: rgba(orange, 0.5);
      }
      &.outcome4 {
        background-color: rgba(red, 0.5);
      }
    }
  }
  .notes {
    p {
      margin-top: 0;
    }
    .datetime {
      font-style: italic;
      margin: 0;
    }
    textarea {
      width: 100%;
      min-height: 100px;
    }
    form {
      display: flex;
      flex-direction: column;
      button {
        align-self: flex-end;
        margin-top: 20px;
      }
    }
  }
}