<section class="block" *ngIf="medicalExam">
  <header>
    <div class="code">{{ medicalExam.code }}</div>
    <div class="name">
      <span class="lastname">{{ medicalExam.employee.lastname }}</span>
      <span>{{ medicalExam.employee.firstname }}</span>
    </div>
  </header>
  <hr>
  <div class="medical-form">
    <h3>Questionnaire</h3>
    <p *ngIf="!answers || answers.length === 0">
      {{ medicalExam.employee.firstname }} n'a pas encore répondu au questionnaire.
    </p>
  </div>
  <hr>
  <div class="measures">
    <h3>Mesures</h3>
    <h4>Tension</h4>
    <div class="pressures">
      <p *ngIf="!medicalExam || medicalExam.pressures.length === 0">
        {{ medicalExam.employee.firstname }} n'a pas encore mesuré sa tension.
      </p>
      <template ngIf="medicalExam || medicalExam.pressures.length > 0">
        <div class="pressure" *ngFor="let pressure of medicalExam.pressures">
          <p>Mesure prise le {{ pressure.time | date:'dd/MM/y' }} à {{ pressure.time | date:'HH:mm:ss' }}</p>
          Diastole: {{ pressure.diastole }}
          Systole: {{ pressure.systole }}
          Pouls: {{ pressure.pulse }}
        </div>
      </template>
    </div>
    <h4>Poids</h4>
    <div class="weights">
      <p *ngIf="!medicalExam || medicalExam.weights.length === 0">
        {{ medicalExam.employee.firstname }} n'a pas encore mesuré son poids.
      </p>
      <template ngIf="medicalExam || medicalExam.weights.length > 0">
        <div class="weight" *ngFor="let weight of medicalExam.weights">
          <p>Mesure prise le {{ weight.time | date:'dd/MM/y' }} à {{ weight.time | date:'HH:mm:ss' }}</p>
          Poids: {{ weight.value }}kg
          Masse graisseuse: {{ weight.fat }}%
        </div>
      </template>
    </div>
  </div>
  <button (click)="goBack()">Retour</button>
</section>