<section class="block" *ngIf="medicalExam">
  <header>
    <div class="code">{{ medicalExam.code }}</div>
    <div class="name">
      <span class="lastname">{{ medicalExam.employee.lastname }}</span>
      <span>{{ medicalExam.employee.firstname }}</span>
    </div>
  </header>
  <hr>
  <div class="medical-form">
    <h3>Questionnaire</h3>
    <p *ngIf="!answers || answers.length === 0">
      {{ medicalExam.employee.firstname }} n'a pas encore répondu au questionnaire.
    </p>
    <template ngIf="answers || answers.pressures.length > 0">
      <div class="question outcome{{answer.outcome}}" *ngFor="let answer of answers" [ngClass]="{expanded: isExpanded}" (click)="toggleAnswer()">
        {{ answer.question.title }}
        <div class="answer">
          {{ answer.value }}
          <i *ngIf="!answer.value">Sans réponse</i>
        </div>
      </div>
    </template>
  </div>
  <hr>
  <div class="measures">
    <h3>Mesures</h3>
    <p *ngIf="(!medicalExam.pressures || medicalExam.pressures.length === 0) && (!medicalExam.weights || medicalExam.weights.length === 0)">
      {{ medicalExam.employee.firstname }} n'a pas pris ni sa tension ni son poids.
    </p>
    <div class="widgets">
      <template ngIf="medicalExam || medicalExam.pressures.length > 0">
        <div class="widget pressure" *ngFor="let pressure of medicalExam.pressures">
          <div class="widget-header">
            <h5>Tension bonne</h5>
            <p>le {{ pressure.time | date:'dd/MM/y' }} à {{ pressure.time | date:'HH:mm:ss' }}</p>
          </div>
          <div class="widget-content">
            <span class="systole">{{ pressure.systole }}</span>
            <span class="diastole">{{ pressure.diastole }}</span>
          </div>
          <div class="widget-footer">
            <span>{{ pressure.pulse }}</span>
          </div>
        </div>
      </template>
      <template ngIf="medicalExam || medicalExam.weights.length > 0">
        <div class="widget weight" *ngFor="let weight of medicalExam.weights">
          <div class="widget-header">
            <h5>Poids</h5>
            <p>le {{ weight.time | date:'dd/MM/y' }} à {{ weight.time | date:'HH:mm:ss' }}</p>
          </div>
          <div class="widget-content">
            <span class="kg">{{ weight.value }}</span>
            <span class="fat">{{ weight.fat }}</span>
          </div>
        </div>
      </template>
    </div>
  </div>
  <button (click)="goBack()">Retour</button>
</section>