<section class="block" *ngIf="medicalExam">
  <header>
    <div class="left">
      <span class="job">Assistante de direction</span>
      <span>chez <strong>Habitat France</strong></span>
      <span class="deadline">Date limite: {{ medicalExam.deadline | date:'dd/MM/y' }}</span>
    </div>
    <div class="right">
      <span class="lastname">{{ medicalExam.employee.lastname }}</span>
      <span>{{ medicalExam.employee.firstname }}</span>
      <span class="age">34 ans</span>
    </div>
  </header>
  <hr>
  <div class="medical-form">
    <h3>Questionnaire</h3>
    <medical-form *ngIf="medicalExam && medicalExam.id && medicalExam.id > 0" [medicalExamId]="medicalExam.id"></medical-form>
  </div>
  <hr>
  <div class="measures">
    <h3>Mesures</h3>
    <p *ngIf="(!medicalExam.pressures || medicalExam.pressures.length === 0) && (!medicalExam.weights || medicalExam.weights.length === 0)">
      {{ medicalExam.employee.firstname }} n'a pris ni sa tension ni son poids.
    </p>
    <div class="widgets">
      <template ngIf="medicalExam || medicalExam.pressures.length > 0">
        <div class="widget pressure" *ngFor="let pressure of medicalExam.pressures">
          <div class="widget-header">
            <h5>Tension bonne</h5>
            <p>le {{ pressure.time | date:'dd/MM/y' }} à {{ pressure.time | date:'HH:mm:ss' }}</p>
          </div>
          <div class="widget-content">
            <span class="systole">{{ pressure.systole }}</span>
            <span class="diastole">{{ pressure.diastole }}</span>
          </div>
          <div class="widget-footer">
            <span>{{ pressure.pulse }}</span>
          </div>
        </div>
      </template>
      <template ngIf="medicalExam || medicalExam.weights.length > 0">
        <div class="widget weight" *ngFor="let weight of medicalExam.weights">
          <div class="widget-header">
            <h5>Poids</h5>
            <p>le {{ weight.time | date:'dd/MM/y' }} à {{ weight.time | date:'HH:mm:ss' }}</p>
          </div>
          <div class="widget-content">
            <span class="kg">{{ weight.value }}</span>
            <span class="fat">{{ weight.fat }}</span>
          </div>
        </div>
      </template>
    </div>
  </div>
</section>
<section class="block" *ngIf="medicalExam">
  <div class="operations">
    <button (click)="goBack()">Retour</button>
    <button>Finaliser</button>
    <button>Prendre un rendez-vous</button>
  </div>
  <hr>
  <div class="notes">
    <h3>Notes personnelles du médecin</h3>
    <div class="note" *ngFor="let note of doctorNotes">
      <p class="datetime">Le {{ note.created | date:'dd/MM/y' }} à {{ note.created | date:'HH:mm:ss' }}</p>
      <p>{{ note.content }}</p>
    </div>
    <form (ngSubmit)="submitNote(doctorNote)" #doctorNoteForm="ngForm">
      <textarea required placeholder="Prenez des notes" name="content" rows="4" [(ngModel)]="doctorNote.content"></textarea>
      <button type="submit" [disabled]="!doctorNoteForm.form.valid">Sauvegarder</button>
    </form>
  </div>
  <hr>
  <div class="notes">
    <h3>Notes au patient</h3>
    <div class="note" *ngFor="let note of employeeNotes">
      <p class="datetime">Le {{ note.created | date:'dd/MM/y' }} à {{ note.created | date:'HH:mm:ss' }}</p>
      <p>{{ note.content }}</p>
    </div>
    <form (ngSubmit)="submitNote(employeeNote)" #employeeNoteForm="ngForm">
      <textarea required placeholder="Prenez des notes" name="content" [(ngModel)]="employeeNote.content"></textarea>
      <button type="submit" [disabled]="!employeeNoteForm.form.valid">Sauvegarder</button>
    </form>
  </div>
  <hr>
  <div class="notes">
    <h3>Notes à l'entreprise</h3>
    <div class="note" *ngFor="let note of companyNotes">
      <p class="datetime">Le {{ note.created | date:'dd/MM/y' }} à {{ note.created | date:'HH:mm:ss' }}</p>
      <p>{{ note.content }}</p>
    </div>
    <form (ngSubmit)="submitNote(companyNote)" #companyNoteForm="ngForm">
      <textarea required placeholder="Prenez des notes" name="content" [(ngModel)]="companyNote.content"></textarea>
      <button type="submit" [disabled]="!companyNoteForm.form.valid">Sauvegarder</button>
    </form>
  </div>
</section>