login {
  h3 {
    margin: 0;
  }
  form {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    width: 240px;
  }
  .block {
    padding: 20px;
  }
}