<template [ngIf]="results && processed">
  <div *ngFor="let theme of objectToArray(results.themes)" 
      class="theme outcome{{results.themes[theme].outcome}}" 
      [ngClass]="{expanded: results.themes[theme].isExpanded}" (click)="toggleExpansion($event, results.themes[theme])">
    <p>{{ theme }}</p>
    <div *ngFor="let subtheme of objectToArray(results.themes[theme].subthemes)" 
        class="subtheme outcome{{results.themes[theme].subthemes[subtheme].outcome}}" 
        [ngClass]="{expanded: results.themes[theme].subthemes[subtheme].isExpanded}" (click)="toggleExpansion($event, results.themes[theme].subthemes[subtheme])">
      <p>{{ subtheme || theme }}</p>
      <div class="question outcome{{answer.outcome}}" 
          *ngFor="let answer of results.themes[theme].subthemes[subtheme].answers" 
          [ngClass]="{expanded: answer.isExpanded}" (click)="toggleExpansion($event, answer)">
        <p>{{ answer.question.title }}</p>
        <div class="answer">
          <ul>
          <li *ngFor="let value of answer.value">
            {{ value }}
          </li>
          </ul>
        <i *ngIf="answer.value.length==0">Sans réponse</i>
        </div>
      </div>
    </div>
  </div>
</template>
<p *ngIf="processed && (!results || results.outcome == 0)">
  Le patient n'a pas encore répondu au questionnaire.
</p>
<p *ngIf="!processed">
  Le formulaire est en cours de traitement...
</p>