@import '../../../index';

medical-form {
  $outcome1-color: white;
  $outcome2-color: yellow;
  $outcome3-color: #FF8C00;
  $outcome4-color: red;

  div {
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    padding-left: 30px;

    & > div {
      display: none;
    }
    &.expanded {
      & > div {
        display: block;
      }
    }

    &.theme, &.subtheme, &.question {
      &:before {
        content: '+';
        font-weight: bolder;
        border: 1px solid $primary-color;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 8px;
        left: 5px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      &.expanded {
        &:before {
          content: '-';
        }
      }
    }
    &.answer {
      padding-left: 0;
      &:before {
        content: '=>';
      }
    }
    p {
      margin: 0;
      margin-bottom: 5px;
    }
  }

  .theme {
    font-size: 18px;
  }
  .subtheme {
    font-size: 16px;
  }
  .question {
    font-size: 14px;
  }
  .answer {
    font-size: 12px;
  }

  .outcome1:before {
    background-color: rgba($outcome1-color, 1);
  }
  .outcome2:before {
    background-color: rgba($outcome2-color, 1);
  }
  .outcome3:before {
    background-color: rgba($outcome3-color, 1);
  }
  .outcome4:before {
    background-color: rgba($outcome4-color, 0.8);
  }
}