@import '../../../index';

medical-form {
  $outcome1-color: white;
  $outcome2-color: yellow;
  $outcome3-color: #FF8C00;
  $outcome4-color: red;

  div {
    padding: 5px;
    margin-bottom: 3px;
    cursor: pointer;
    position: relative;
    padding-left: 30px;

    & > div {
      display: none;
    }
    &.expanded {
      & > div {
        display: block;
      }
    }

    &.theme, &.subtheme, &.question {
      &:before {
        content: '+';
        border: 1px solid $primary-color;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 6px;
        left: 5px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 12px;
      }
      &.expanded:before {
        content: '-';
      }
      &.theme:before {
        top: 10px;
      }
      &.subtheme:before {
        top: 9px;
      }
      &:after {
        content: '';
        height: 100%;
        width: 1px;
        background-color: $primary-color;
        position: absolute;
        top: 20px;
        left: 12px;
      }
      &.theme:after {
        top: 24px;
      }
      &.subtheme:after {
        top: 23px;
      }
    }
    &.answer {
      padding-left: 0;
      &:before {
        content: '=>';
      }
    }
    p {
      margin: 0;
      margin-bottom: 2px;
    }
  }

  .theme {
    font-size: 18px;
    font-weight: bolder;
  }
  .subtheme {
    font-size: 16px;
    font-weight: bold;
  }
  .question {
    font-size: 12px;
    font-weight: normal;
  }
  .answer {
    font-size: 12px;
  }

  .outcome1:before {
    background-color: rgba($outcome1-color, 1);
  }
  .outcome2:before {
    background-color: rgba($outcome2-color, 1);
  }
  .outcome3:before {
    background-color: rgba($outcome3-color, 1);
  }
  .outcome4:before {
    background-color: rgba($outcome4-color, 0.8);
  }
}