me {
  .block {
    padding: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
  .form-group {
    margin: 4px;
  }
  label {
    color: black;
  }
  button {
    align-self: center;
    margin-top: 20px;
  }
}